/* Main */

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}


.home {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
